<!DOCTYPE html>
<html>
<head>
<title>Connective Login Form a Responsive Widget Template :: w3layouts</title>
<!-- meta_tags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="connective login form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta_tag_Keywords -->
<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all"><!--style_sheet-->
<link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" media="all"><!--font_awesome_icons-->
<!--web_fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext" rel="stylesheet">
<!--//web_fonts-->
</head>
<body>
<div class="form">
<h1>Nucleus</h1>
	<div class="form-content">
		<form action="#" method="post">
			<div class="form-info">
				<h2><font size="4">Welcome, {{username}}!
                </font></h2>
                <!--<div <font color="white"> Welcome, {{ username }} - -->
                    <!--</font><a href="{{ url_for('logout') }}"></a>-->
                <!--</div>-->
			</div>
			<div class="email-w3l">
				<!--<input class="email" type="checkbox" name="email" placeholder="Username" required="">-->
                <li><a href="{{ url_for('with_context') }}" class="button"><font color="#a9a9a9" size="4">Context-Related: Ask question with a context</font></a></li>
			</div>
			<div class="pass-w3l">
                <li><a href="{{ url_for('without_context') }}" class="button"><font color="#a9a9a9" size="4">Context-Free: Ask question directly</font></a></li>
			</div>
			<div class="pass-w3l">
                <li><a href="{{ url_for('history_redirect') }}" class="button"><font color="#a9a9a9" size="4">Check history</font></a></li>
			</div>

			<div class="form-check">
				<div class="left">
                    <a href="{{ url_for('logout') }}" class="button"><font color="white">logout</font></a>
				</div>
				<!--<div class="right">-->
                    <!--<a href="{{ url_for('history') }}" class="button"><font color="white">history</font></a>-->
				<!--</div>-->
				<div class="clear"></div>
			</div>
		</form>
	</div>
</div>
<!---728x90--->
<!--<footer>&copy; 2018 Connective login form. All rights reserved | Design by <a href="#">W3layouts</a></footer>-->
<!---728x90--->
</body>
</html>