{% extends "base.html" %}

{% block title %}Welcome{% endblock%}

{% block head %}
{{ super() }}
    <script type="text/javascipt">var x = 1;</script>
{% endblock %}

{% block content %}

<p> Welcome, {{ username }} - <a href="{{ url_for('logout') }}">logout</a></p>

<form action="{{ url_for('welcome') }}" method="POST">
    {% if error %}
    <p style="color:#8d69ff">
        {{ error }}
    </p>
    {% endif %}
    <p>
        Passage: <input type="text" name="passage">
    </p>
    <p>
        Questions: <input type="text" name="question">
    </p>
    <button type="Submit">Submit</button>
</form>

{% endblock %}