{% extends "base.html" %}

{% block title %}Without Context{% endblock%}

{% block head %}
{{ super() }}
    <script type="text/javascipt">var x = 1;</script>
{% endblock %}

{% block content %}

<p> Welcome, {{ username }} - <a href="{{ url_for('logout') }}">logout</a></p>

<form action="{{ url_for('without_context') }}" method="POST">
    {% if error %}
    <p style="color:#8d69ff">
        {{ error }}
    </p>
    {% endif %}
    <p>
        Questions: <input type="text" name="question">
    </p>
    <button type="Submit" onsubmit=url_for('result') }}>Submit</button>
</form>

<p><a href="{{ url_for('welcome') }}">Go back to welcome page</a></p>

{% endblock %}